.App {
  text-align: center;
  background-color: darkgray;
}

.card img{
  width: auto;
  max-height: 95vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
